<!DOCTYPE html>
<html>
<head>
  <title>Available Scans</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h2>Available Scans</h2>
  {{if not .Listing}}
    <p>No files found in the directory.</p>
  {{else}}
    <ul>
      {{range $file := .Listing}}
        <li>
          <button type="button" class="delete" onclick="deleteFile('{{$file.Name}}',
          '{{printf "Delete this scan from %s?" (timeAgo $file.Time)}}')">🗑️</button>
          <a href="/download/{{$file.Name}}">📄 {{humanSize $file.Size}}</a>
          <span>{{timeAgo $file.Time}}</span>
        </li>
      {{end}}
    </ul>
  {{end}}
  <script src="script.js"></script>
</body>
</html>
