[Unit]
Description= Lambada scan exporter
After=network.target

[Service]
WorkingDirectory=/home/someuser/workspace/lambada
ExecStart=lambada
Restart=always
User=someuser

[Install]
WantedBy=multi-user.target
